body {
  margin: 0;
  min-height: 100vh;
  background: #0f3c5f; /* Baby blue غامق */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  width: 95%;
  max-width: 420px;
  padding: 18px;
  border-radius: 16px;
  text-align: center;
}

h1 {
  margin: 0 0 10px;
  color: #0f3c5f;
}

.editor {
  width: 270px;
  height: 337.5px; /* نفس نسبة 1080x1350 */
  margin: auto;
}

canvas {
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

button {
  padding: 10px;
  background: #0f3c5f;
  color: white;
  border: none;
  border-radius: 8px;
}
